#header{
    text-align: center;
    background-color:rgb(118, 150, 209);
    font-size: 3em;
    width: 100%;
}
#index-body{
    background-color:rgb(142, 178, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block{
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgb(139, 139, 139);
    width: 30%;
    min-width: 300px;
    box-sizing: border-box;
    margin:5px;
    vertical-align: top;
}

.block-p{
    padding: 10px;
    margin: 0;
}
.block-h1{
    margin: 0;
    text-align: center;
}
.link{
    display: block;
    text-align: center;
    padding-bottom: 2px;
}
.post-block{
    display: inline-block;
    align-items: center;
    width: 60%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgb(139, 139, 139);
    box-sizing: border-box;
    margin:5px;
    vertical-align: top;

}
.post-h1{
    font-style: bold;
    text-align: center;
}
.post-h2, .post-h3, .post-p{
    padding: 0 20px;
}

#post-body{
    background-color:rgb(142, 178, 243);
    display: flex;
    justify-content: space-evenly;
}

.post-pre-code{
    font-family: monospace;
    overflow: auto;
    margin-top: 0%;
    margin-bottom: 0%;
}
.post-code{
    display: block;
    font-family: monospace;
    padding: 1rem;
    word-wrap: normal;
}
.div-code{
    display: inline-block;
    border-style: solid 5px black;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgb(139, 139, 139);
    box-sizing: border-box;
    margin:10%;
    margin-top: 5%;
    width: 80%;
}

.link-source{
    padding: 0 20px;
}